aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
async-timeout==4.0.2
asyncclick==8.0.3.2
asyncio==3.4.3
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
frozenlist==1.3.0
idna==3.3
log-symbols==0.0.14
multidict==6.0.2
requests==2.27.1
six==1.16.0
sniffio==1.2.0
spinners==0.0.24
termcolor==1.1.0
urllib3==1.26.8
yarl==1.7.2
git+https://github.com/frostming/halo.git@multiple-spinners
